html * {
  margin: 0;
}

.header {
  display: flex;
  background-color: maroon;
  justify-content: space-between;
  align-items: center;
}

.social-media-links {
  display: flex;
  align-items: center;
  width: 10vw;
  justify-content: space-between;
  padding-left: 15px;
}

.social-media-links a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  align-items: center;
}

.center-column .logo {
  color: white;
  font-size: 1.5em;
}

.other-pages-wrapper {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: space-between;
  padding-right: 15px;
}

.other-pages-wrapper a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.order-now-bar {
  background-color: grey;
  display: flex;
  color: white;
  justify-content: space-around;
  border-bottom: black solid;
  border-top: black solid;
  height: 45px;
  align-items: center;
  text-align: center;
}

.breakfast-lunch-dinner-bar {
  background-color: teal;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 55px;
  align-items: center;
  border-bottom: black solid;
  text-align: center;
}

.breakfast-lunch-dinner-bar a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

/* .b-l-d-menus  {
  height: 42vw;
  display: flex;
  border-bottom: black solid;
} */

.b-l-d-menus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: black solid;
}

.breakfast-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* width: 33vw; */
  padding-bottom: 170px;
}

.breakfast-menu p {
  font-size: .8em;
}

.lunch-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 33vw; */
  border-right: black solid;
  border-left: black solid;
  align-items: center;
  text-align: center;
  padding-bottom: 170px;
}

.lunch-menu p {
  font-size: .8em;
}

.dinner-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 33vw; */
  align-items: center;
  text-align: center;
  padding-bottom: 170px;
}

.dinner-menu p {
  font-size: .8em;
}

.first-item img {
  padding-top: 15px;
  height: 15vw;
}

.second-item img {
  height: 15vw;
  padding-top: 25px;
}

.first-breakfast-item-button button {
  margin-top: 15px;
  background-color: maroon;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: black solid;
}

.second-breakfast-item-button button {
  margin-top: 15px;
  background-color: teal;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: black solid;
}

.first-lunch-item-button button {
  margin-top: 15px;
  background-color: teal;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: black solid;
}

.second-lunch-item-button  button {
  margin-top: 15px;
  background-color: maroon;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: black solid;
}

.first-dinner-item-button button {
  margin-top: 15px;
  background-color: maroon;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: black solid;
}

.second-dinner-item-button button {
  margin-top: 15px;
  background-color: teal;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: black solid;
}

.delete {
  background-color: grey;
  font-size: 15px;
  color: white;
  border: none;
}

.comment {
  background-color: grey;
  font-size: 15px;
  color: white;
  border: none;
  text-align: right;
}

#breakfast-sides-bundle {
  text-align: left;
  padding-top: 6px;
}

#lunch-sides-bundle {
  text-align: left;
  padding-top: 6px;
}

#dinner-sides-bundle {
  text-align: left;
  padding-top: 6px;
}

.sides-instructions {
  padding-top: 10px;
}

.footer {
  height: 150px;
  background-color: maroon;
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid;
  border-top: black solid;
  position: fixed;
  bottom: 0;
}

.shopping-cart-title  {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15vw;
}

#current-check  {
  background-color: grey;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  border-left: black solid;
  border-right: black solid;
  padding: 5px;
  font-size: 17px;
  grid-auto-flow: column;
}



.sub-total-wrapper  {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 25vw;
}

.check-out button {
  background-color: teal;
  border: black solid;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
}


.breakfast-side-order-one[is-hidden="True"] {
  display: none;;
}

.breakfast-side-order-one[is-hidden="False"] {
  display: block;
}

.breakfast-side-order-two[is-hidden="True"] {
  display: none;
}

.breakfast-side-order-two[is-hidden="False"] {
  display: block;
}

.lunch-side-order-one[is-hidden="True"] {
  display: none;
}

.lunch-side-order-one[is-hidden="False"] {
  display: block;
}

.lunch-side-order-two[is-hidden="True"] {
  display: none;
}

.lunch-side-order-two[is-hidden="False"] {
  display: block;
}

.dinner-side-order-one[is-hidden="True"] {
  display: none;
}

.dinner-side-order-one[is-hidden="False"] {
  display: block;
}

.dinner-side-order-two[is-hidden="True"] {
  display: none;
}

.dinner-side-order-two[is-hidden="False"] {
  display: block;
}

.pan-delete {
  padding-left: 35px;
}

.ft-delete {
  padding-left: 10px;
}

.b-delete {
  padding-left: 21px;
}

.fd-delete {
  padding-left: 21px;
}

.sal-delete {
  padding-left: 38px;
}

.st-delete {
  padding-left: 52px;
}
